# SELECT and SELECT WHERE

In this walk-through we demonstrate how to get data out of a table using the SELECT statement.
We also show how to filter data using the where clause.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table in our `united_nations` database we created in MySQL Workbench, we want to answer some questions about our dataset. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [ ]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/united_nations


To make a query, we add the `%%sql` command to the start of a cell, create one open line, then the query like below, and run the cell.

In [ ]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

## Exercise

Suppose we want to find out which country had the lowest percentage of people with access to managed drinking water services in 2020.

### 1. Exploring the database

Use the `SELECT` statement to display all the columns from the `Access_to_Basic_Services` table. This will help us get a feel for the data we're working with.

The previous query may return a large number of rows, which could slow down our system. Modify the query to limit the number of rows returned to 10.

### 2. Unique country names
Extract a list of unique country names in the database.

Create a new table called `Country_list` and save the unique country names into this table.

### 3. Selecting specific fields

Select the `country_name`, `time_period`, and `pct_managed_drinking_water_services` fields from the `Access_to_Basic_Services` table.

Rename the `pct_managed_drinking_water_services` field to `pct_access_to_water` in your query results.

### 4. Filtering and sorting data

Modify your query to only display data for the year `2020`.

The previous query may return a large number of rows, which could slow down our system. Modify the query to limit the number of rows returned to 10.

And there is the answer at the top:

## Solutions

### 1. Exploring the database

Use the `SELECT` statement to display all the columns from the `Access_to_Basic_Services` table. This will help us get a feel for the data we're working with.

In [ ]:
%%sql

SELECT 
    * 
FROM 
    united_nations.Access_to_Basic_Services
LIMIT 30;

The previous query may return a large number of rows, which could slow down our system. Modify the query to limit the number of rows returned to 10.

In [ ]:
%%sql

SELECT 
    * 
FROM 
    united_nations.Access_to_Basic_Services
LIMIT 10;

### 2. Unique country names
Extract a list of unique country names in the database.

In [ ]:
%%sql

SELECT DISTINCT 
    Country_name 
FROM 
    united_nations.Access_to_Basic_Services
    LIMIT 20;

Create a new table called `Country_list` and save the unique country names into this table.

In [ ]:
%%sql

CREATE TABLE Country_list(Country VARCHAR(255));
INSERT INTO Country_list(Country)
SELECT DISTINCT 
    Country_name 
FROM 
    united_nations.Access_to_Basic_Services;

### 3. Selecting specific fields

Select the `country_name`, `time_period`, and `pct_managed_drinking_water_services` fields from the `Access_to_Basic_Services` table.

In [ ]:
%%sql

SELECT 
    country_name, 
    time_period, 
    pct_managed_drinking_water_services 
FROM 
    united_nations.Access_to_Basic_Services
LIMIT 20;

Rename the `pct_managed_drinking_water_services` field to `pct_access_to_water` in your query results.

In [ ]:
%%sql

SELECT 
    country_name, 
    time_period, 
    pct_managed_drinking_water_services AS pct_access_to_water
FROM 
    united_nations.Access_to_Basic_Services
LIMIT 20

### 4. Filtering and sorting data

Modify your query to only display data for the year 2020.

In [ ]:
%%sql

SELECT 
    country_name, 
    time_period, 
    pct_managed_drinking_water_services AS pct_access_to_water
FROM 
    united_nations.Access_to_Basic_Services 
WHERE 
    Time_period = 2020
LIMIT 100;

The previous query may return a large number of rows, which could slow down our system. Modify the query to limit the number of rows returned to 10.

In [ ]:
%%sql

SELECT 
    country_name, 
    time_period, 
    pct_managed_drinking_water_services AS pct_access_to_water
FROM 
    united_nations.Access_to_Basic_Services 
WHERE 
    Time_period = 2020
ORDER BY pct_access_to_water
LIMIT 10;

## Summary
Congratulations! You have used SQL commands to filter and sort data to answer a specific question. Please review your results and think about what other questions could be answered with this data.