# SQL numeric functions and aggregations

In this exercise, we will apply SQL numeric functions and aggregations to query a few tables in our Northwind database. Ensure that you haveÂ downloaded the database file, Northwind.db.

First, let's load our sample database:

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [ ]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Display the average unit price of products in the 'Products' table.

### Exercise 2


Show the total quantity of products sold for each ProductID. Use the 'OrderDetails' table.

### Exercise 3


Find the maximum, minimum, and average freight from the 'Orders' table.

### Exercise 4

How many unique customers have made orders? Use the 'Orders' table.

### Exercise 5

What is the total price for each order? You need to multiply the unit price by the quantity and subtract the discount for each order detail, then sum all the order details for each order. Use the 'OrderDetails' table.

### Challenge question

What are the 5 largest orders processed? (Hint: Use the 'OrderDetails' table.)

## Solutions

### Exercise 1

In [ ]:
%%sql

SELECT 
    AVG(UnitPrice) 
FROM 
    Products;

### Exercise 2

In [ ]:
%%sql

SELECT 
    ProductID,
    SUM(Quantity) as TotalQuantity
FROM 
    OrderDetails
GROUP BY 
    ProductID;

### Exercise 3

In [ ]:
%%sql

SELECT 
    MAX(Freight) as MaxFreight,
    MIN(Freight) as MinFreight,
    AVG(Freight) as AvgFreight
FROM 
    Orders;

### Exercise 4

In [ ]:
%%sql

SELECT 
    COUNT(DISTINCT CustomerID) 
FROM 
    Orders;

### Exercise 5

In [ ]:
%%sql

SELECT 
    OrderID, 
    SUM(UnitPrice * Quantity * (1 - Discount)) as TotalPrice 
FROM 
    OrderDetails
GROUP BY 
    OrderID;

### Challenge question

In [ ]:
%%sql

SELECT 
    OrderID, 
    SUM(Quantity) as TotalQuantity 
FROM 
    OrderDetails
GROUP BY 
    OrderID
ORDER BY 
    TotalQuantity DESC 
LIMIT 5;